<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>
</head>

<body>
    <div class="navbar">
        <div class="logo">Bet Bot</div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'log' %}">Log Message</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li class="dropdown">
                <a href="#more" class="dropbtn">More<i class="fas fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="#portfolio">Portfolio</a>
                    <a href="#contact">Contact</a>
                    <a href="#blog">Blog</a>
                </div>
            </li>
        </ul>
        <div class="menu-icon">
            <i class="fa fa-bars"></i>
        </div>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p>&copy; 2024</p>
        </footer>
    </div>

    <script>
        const menuIcon = document.querySelector('.menu-icon');
        const navLinks = document.querySelector('.nav-links');
        
        menuIcon.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    </script>

</body>
</html>
